/* iphone 5/se tall */

.packages-main{
    background-color: black;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

.table-container{
    display: flex;
    flex-direction: column;
}

.table-column-1{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background-color: white;
    color: var(--gold);
    display: flex;
    flex-direction: column;

}

.column-1-head, .column-2-head, .column-3-head{
    text-align: center;
    margin-top: 35px;
    font-weight: 800;
    font-size: 4.5vh;
}

.column-1-split, .column-2-split, .column-3-split{
    display: flex;
    flex-direction: column;
}

.column-1-split>div, .column-2-split>div, .column-3-split>div{
    margin: 35px auto;
    width: 200px;
    font-size: 3vh;
    
}

.column-1-workout>div, .column-1-game>div, .column-2-workout>div, .column-2-game>div, .column-3-workout>div, .column-3-game>div{
    margin-top: 10px;
}

.column-1-item-head, .column-1-item-foot, .column-2-item-head, .column-2-item-foot, .column-3-item-head, .column-3-item-foot{
    font-weight: 800;

}

.table-column-2{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background-color: black;
    color: var(--gold);
    display: flex;
    flex-direction: column;

}

.table-column-3{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background-color: var(--gold);
    color: black;
    display: flex;
    flex-direction: column;

}



 /* iphone 6/7/8/x tall */
@media(min-width: 375px){

    .column-1-split>div, .column-2-split>div, .column-3-split>div{
        width: 250px;
        font-size: 3.5vh;
        
    }

    .column-1-head, .column-2-head, .column-3-head{
        font-weight: 800;
        font-size: 5vh;
    }

}

/* iPhone 5/se wide */

@media(min-width:550px){

    .column-1-head, .column-2-head, .column-3-head{
        text-align: center;
        margin-top: 35px;
        font-weight: 800;
        font-size: 9vh;
    }

    .column-1-split>div, .column-2-split>div, .column-3-split>div{
        width: auto;
        font-size: 5.5vh;
        
    }

    .column-1-split, .column-2-split, .column-3-split{
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }
}

/* iPhone ipad tall */
@media(min-width:750px){

    .column-1-split>div, .column-2-split>div, .column-3-split>div{
        width: 500px;
        font-size: 5vh;
        
    }

    .column-1-head, .column-2-head, .column-3-head{
        font-weight: 800;
        font-size: 5vh;
    }
   

    .column-1-split, .column-2-split, .column-3-split{
        display: flex;
        flex-direction: column;
    }

}

/* ipad wide */
@media(min-width: 1000px){
    .column-1-head, .column-2-head, .column-3-head{
        text-align: center;
        margin-top: 35px;
        font-weight: 800;
        font-size: 9vh;
    }

    .column-1-split>div, .column-2-split>div, .column-3-split>div{
        width: auto;
        font-size: 5vh;
        
        
    }

    .column-1-split, .column-2-split, .column-3-split{
        display: flex;
        flex-direction: row;
        align-content: space-around;
    }

    .column-1-workout>div, .column-1-game>div, .column-2-workout>div, .column-2-game>div, .column-3-workout>div, .column-3-game>div{
        margin-top: 30px;
    }
}